/* Define the global font */
body {
  font-family: "Manrope", sans-serif;
}
/* Sidebar Container */
.sidebar {
  height: 100vh;
  position: fixed;
  width: 17%; 
  background-color: rgb(7,126,212);
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  padding-right: 1.5%;
  padding-left: 1.5%;
  justify-content: space-between; /* Push bottom buttons to the bottom */
}

/* Sidebar Header */
.sidebar-header {
  display: flex;
  gap:12px;
  
  /*gap is better than margin for spacing while using a flexbox since it doens't affect surrouding elements like margin does*/
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}
.sidebar-header h1{
  margin-top: 0px;
}

/* Sidebar Menu */
.sidebar-menu {
  margin-top: 10px;
  
}

/* Sidebar Items */
.sidebar-item {
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 12px 15px;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  transition: background 0.3s ease;
  justify-content: space-between;
}

/* Active Item (White Background & Rounded) */
.sidebar-item.active {
  background-color: white;
  color: #077ED4;
  font-weight: bold;
}

/* Sidebar Icons */
.sidebar-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Right Arrow Icon */
.sidebar-item:after {
  content: "›"; /* Unicode for right arrow */
  font-size: 16px;
  opacity: 0.8;
}

/* Hover Effect */
.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.2);



}



/* Default icon color (white) */
.sidebar-item img {
  filter: brightness(0) invert(1);
  transition: filter 0.3s ease;
}

/* Active icon color (#077ED4) */
.sidebar-item.active img {
  filter: brightness(0) invert(27%) sepia(100%) saturate(900%) hue-rotate(180deg);
}


/* Bottom section */
.sidebar-bottom {
  margin-top: auto; /* Push it to the bottom */
  padding-bottom: 20px;
}
