*{
  padding: 0;
  margin: 0;
  font-family: Manrope;
 overflow: hidden;
}

.explore-page {
  width: 100%;

  overflow: hidden;
}
/* General container layout */

  .explore-content {
    margin-left: 16vw;
    width: 90%;
    overflow-y: hidden;
  }
 
  /* Banner image */
  .project-banner {
    width: 90%;
    height: 24vh;
    object-fit: cover;
    margin: 25px;
    border-radius: 5px;
     overflow: hidden;
    
     
  }
  .project-title{
    font-size: 2rem;
    font-weight: 700;
  
  }
  /* Project details section */
  .project-details {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1.4rem;
    color: #313638;
    
    
  }
  
  .project-description {
    margin:20px 0;
    line-height: 1.8;
    font-size: 1.2rem;
    
  }
  
  /* Supervisors list */
  .supervisors-list {
    margin-bottom: 20px;
    line-height: 1.6;

  }
  .supervisors-list li{
    margin-left: 40px;
  }
  .section-heading{
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .supervisors-list p {
    margin: 8px;
    color: #313638;
    font-size: 1.2rem;
  }
  /* Technical sheet section */
  .technical-sheet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px 16px;
    text-decoration: none;
    color: inherit;
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 30px;
    height: 7vh;
  }
  
  .technical-sheet-info {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .file-icon {
    width: 45px;
    height: 45px;
    
  }
  
  .file-name {
    font-weight: 400;
  }
  
  .file-size {
    display: block;
    font-size: 0.9rem;
    color: #666;
  }
  
  
  .arrow-icon {
    width: 24px;
    height: 24px;
  }

  .header h1 {
    font-size: 1.8rem;
    font-weight: 00;
    margin-top: 20px;
    margin-left: 20px;
    font-family: Manrope;
    
  }

  .header {
display: flex;
flex-direction: row;
  }

  .btnContainer{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
 
    margin: 20px 8vw 5vh auto;
  }


  .BackBtn {
    background-color: #f1f1f1;
    border: 1px solid #d0d5dd;
    color: #344054;
    padding: 10px 50px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease, color 0.2s ease;
  
  }
  .BackBtn:hover {
    background-color: #d0d5dd;
    color: #344054;
  }
  
  .AddBtn {
    background-color: #0284c7;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 50px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.2s ease;
  }
  .AddBtn:hover {
    background-color: #026799;
  }
  .Remove-button {
    background-color: #F76659;
    border: 1px solid #d0d5dd;
    color: #ffffff;
  
    font-weight: 600;
  
    letter-spacing: -0.6%;
  
    padding: 10px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.2s ease, color 0.2s ease;
    width: 7vw;
  }
  
  .Remove-button:hover {
    background-color: #c23e32;
  
  }