.layout {
  height: 100vh; /* Full viewport height */
  display: flex;
  background-color: #f5f7fa;
  overflow: hidden; /* Prevent double scrollbars */
}

.maincontent {
  height: 100%;
  margin-left: 310px; /* Adjust to your sidebar width */
  width: calc(100% - 310px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.outlet-scroll {
  flex-grow: 1;
  overflow-y: auto;
  height: 100%;
}
