.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 26vw);
    gap: 25px;
    padding: 20px;
    height: 75vh;
    overflow-y: auto;
  }

/* Tabs container */
.tabs {
  display: flex;
  gap: 16px;
  border-bottom: 2px solid #dde2e4;
}

.tab-item {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.1rem;
  color: #6b7280;
  border-bottom: 2px solid transparent;
  transition: color 0.2s ease, border-color 0.2s ease;
  border-radius: 4px;
}

.tab-item:hover {
  color: #374151;
  background-color: #f3f4f6;
}

.tab-item.active {
  color: #077ed4;
  border-bottom: 3px solid #2563eb;
  font-weight: 600;
  margin-bottom: -2px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin: 0 0 12px 20px ;
  
}

.header-row h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #111827;
}

.addtopic-button {
  background-color: #0284c7;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 12px 28px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.2s ease;
  margin-left: auto;
   margin-right: 25PX;
}

.addtopic-button:hover {
  background-color: #026799;
}


