 /* Tabs Navigation */
 .tabs-container {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  background: none;
}

.tabs {
  display: flex;
  gap: 20px;
  border-bottom: 2px solid #ddd;
  margin-left: 20px;
  margin-right: 20px;
}

.tabs button {
  background: none;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  color: #555;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
}

.tabs button:hover {
  color: #0056b3;
}

.tabs .active {
  color: rgb(7,126,212);
  font-weight: bold;
  border-bottom: 3px solid #007bff;
}

.tab .active {
  color: rgb(7,126,212);
  font-weight: bold;
  border-bottom: 3px solid #007bff;
}
 
  

  
 
 

  * {
    margin: 0;
    padding: 0;
    font-family: Manrope, sans-serif;
  }
  
  /* Container to hold all cards */
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 26vw);
    gap: 20px;
    padding: 10px;
    max-height: calc(100vh - 300px); /* Adjust height dynamically */
    overflow-y: auto; /* Enables vertical scrolling */
  }
  
.left-side-container{
 
  align-items: center;
  
  display: flex;
  flex-direction: row;
}
.left-side-container label {
  margin-right: 10px;
  margin-left: 20px;
  font-size: 1.2rem;
  color: #333;
}

.left-side-container label input[type="checkbox"] {
  -webkit-appearance: none; /* Remove default appearance */
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; /* Makes it a circle */
  border: 2px solid rgb(201,208,212); /* Border color */
  background-color: white; /* Background color */
  position: relative;
  cursor: pointer;
}

.left-side-container label input[type="checkbox"]:checked {
  background-color: rgb(7,126,212); /* Change color when checked */
}

.left-side-container label input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white; /* Inner circle */
}
  .header{
    padding: 20px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .buttons-container{
    display: flex;
    flex-direction: row;
    
    margin: 20px;
  }

  .back-btn{
    background-color: white;
  color: rgb(52,64,84);
  width: 150px;
  border-radius: 6px;
  border:2px solid rgb(208, 213, 221);
  padding: 12px 28px;
  cursor: pointer;
  font-size: 1r em;
  font-weight: 500;
  transition: background-color 0.2s ease;
  margin-right: 15px;
  }
  .back-btn:hover{
    background-color: rgb(208, 213, 221);
  }
  .delete-btn{
    background-color: rgb(247 ,102 ,89);
    color: #ffffff;
    font-weight: bold;
    width: 150px;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  .delete-btn:hover{
    background-color: rgb(247 ,102 ,89);
    opacity: 0.8;
  }


  .spinner {
    border: 8px solid #f3f3f3; /* Light gray */
    border-top: 8px solid rgb(7,126,212); /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
 

  .alertDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    height: 65vh; /* Full viewport height */
  }

  .alertDiv h3 {
    margin-top: 20px;
    color: rgb(131, 134, 136);
    size: 2rem;
  }
  .loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh; /* Full viewport height */
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* or a fixed height like 100px if needed */
  }

  