/* User Management Styling */

.users-management {
  min-height: 100vh;
  display:felx;
  padding: 20px;
  background-color: #f5f7fa;
  font-family: Arial, sans-serif;
}

h2 {
  margin-bottom: 15px;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tabs button {
  padding: 10px 15px;
  border: none;
  background: #e0e0e0;
  cursor: pointer;
  border-radius: 5px;
}

.tabs .active {
  background: #007bff;
  color: white;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

thead {
  background: #007bff;
  color: white;
}

thead th {
  padding: 10px;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

tbody td {
  padding: 10px;
}

.status-active {
  color: green;
  font-weight: bold;
}

.status-inactive {
  color: red;
  font-weight: bold;
}

.edit-btn, .delete-btn {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.edit-btn {
  background: #28a745;
  color: white;
}

.delete-btn {
  background: #dc3545;
  color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding-top: 2%;
  gap: 10px;
}

.pagination button {
  padding: 5px 10px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}
